.header {
    text-align: center;
    border-bottom: 1px solid;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

a.reference {
    text-decoration: none;
}

rect {
    fill: none;
    stroke: black;
}

#demo-container-column1 {
    max-width: 25%;
    max-height: 100%;
    padding: 0px;
}

#demo-container-column1 #text {
    /* line-height: 1; */
    margin: 0px 20px;
}

#demo-container-column1 #text p {
    margin: 20px 20px;
}

#demo-container-column2 {
    max-width: 75%;
    max-height: 100%;
    padding: 0px;
}

#nav-container {
    max-width: 100%;
    padding-bottom: 5px;
}

.nav-checkboxes {
    padding-right: 10px;
}

/* vertex {
    fill: black;
    stroke: none;
}

edge {
    fill: black;
} */
