.header {
    text-align: center;
    border-bottom: 1px solid;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

canvas {
    background-color: #000;
    /* width:  100%;
    height: 100%; */
    margin: 0;
}

/* demo styling */

rect {
    fill: none;
    stroke: black;
}

/* vertex {
    fill: black;
    stroke: none;
}

edge {
    fill: black;
} */
